@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    width: 100%;
    display: flex;
    position: -webkit-sticky;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
}

.header_in {
    display: flex;
    position: absolute;
    min-width: 1200px;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0px 80px;
}

/* .header_group {
    display: flex;
    flex : 1 1 auto;
    align-items: center;
} */

.header_logo_group {
  display: flex;
  flex : 1 1 auto;
  align-items: center;
}

.header_button_group {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.header_user_group{
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.header_logo {
    font-size: 35px;
}

.header_logoname {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'GmarketSansMedium';
}


.header_button {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}


.header_host {
    font-size: 12px;
    padding-right: 15px;
}

.header_globe{
    padding-right: 15px;
}

.header_user {
    display: flex;
    background-color: white;
    border: solid 1px rgb(177, 184, 191);
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

.header_burger{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.header_usercircle {
    padding-left: 5px;
    font-size: 25px;
    color: rgb(91, 96, 101);
}