.search {
    width: 100%;
    display: flex;
    position: absolute;
    top: 130px;
    align-items: center;
    justify-content: center;;
}

.search_in {
    display: flex;
    background-color: white;
    border-radius: 100px;
    width: 850px;
    height: 45px;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.search_bar {
    font-size: 40px;
    font-weight: 100;
    color: rgb(193, 198, 203);
    padding-bottom: 10px;
}


.search_location {
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    padding: 10px;
    flex : 1 1 auto;
}

.search_boldtext{
    font-size: 12px;
    font-weight: 700;
}

.search_inputtext {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    border: none;
    outline: none;
}

.search_findbutton{
    display: flex;
    background-color: rgb(215, 4, 102);
    padding: 15px 20px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;;
}

.search_findicon {
    color: white;
    font-size: 15px;
}

.search_text{
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 8px;
}