.search {
    display: flex;
    justify-content: center;
    padding: 0px 24px;
}

.search_app {
    display: none;
}

.search_in {
    display: flex;
    background-color: white;
    border-radius: 100px;
    border: 1px solid rgb(205, 205, 205);
    padding: 10px 10px;
    box-shadow: 5px 5px 10px #0000003c;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.search_boldtext {
    font-size: 12px;
    font-weight: 700
}

.search_inputtext {
    color: gray;
    font-size: 14px;
    border: none;
    outline: none;
}

.search_findbutton {
    background-color: #FF385C;
    border-radius: 100px;
    padding: 15px
}

.search_findicon {
    color: white;
}

.search_location {
    margin-left: 20px;
    width: 100%;
}

.search_bar {
    border-right: 1px solid rgb(205, 205, 205);
    width: 10px;
    height: 30px;
}

.search_bar1 {
    border-right: 1px solid rgb(205, 205, 205);
    width: 10px;
    height: 30px;
    padding-left: 100px;
}

@media screen and (max-width: 950px) {
    .search_in {
        width: 95%;
    }
}

@media screen and (max-width: 740px) {
    .search_in {
        display: none;
    }
    
    .search {
        margin-top: 15px;
    }

    .search_app {
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid rgb(205, 205, 205);
        box-shadow: 5px 5px 10px #0000003c;
        border-radius: 100px;
        width: 100%;
    }

    .search_appinputtext {
        font-size: 16px;
        border: none;
        outline: none;
    }

    .search_appicon {
        margin: 15px;
    }
}