.Idea {
  position: relative;
  padding: 60px 80px;
}

.Idea_group {
  display: flex;
  position: relative;
}

.Idea_img1{
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.Idea_img2,
.Idea_img3 {
  display: none;
}

.Idea_text{
  position: absolute;
  top:35%;
  left: 80px;
}

.Idea_headtext{
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 10px;
}

.Idea_subtext{
  padding-bottom: 20px;
}

.Idea_button{
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 170px;
  height: 50px;
  border-radius: 6px;
  border: none;
}

@media screen and (max-width: 1125px){
  .Idea_button{
    font-weight: 700;
    font-size: 12px;
    width: 130px;
    height: 35px;
    border-radius: 6px;
    border: none;
  }
  .Idea_headtext{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .Idea_text{
    top:40%;
  }
  .Idea_img2 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
  .Idea_img1 {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .Idea {
    padding: 60px 20px;
  }
  .Idea_img3 {
    display: inline-flex;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .Idea_img2 {
    display: none;
  }
  .Idea_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    width: 80%;
  }
  .Idea_group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
